<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="org.javaboy.vhr.model.Employee">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="idCard" property="idCard" jdbcType="CHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="CHAR"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <!-- <result column="idCard" property="idCard" jdbcType="CHAR"/> -->
        <result column="wedlock" property="wedlock" jdbcType="CHAR"/>
        <result column="nationId" property="nationId" jdbcType="INTEGER"/>
        <result column="nativePlace" property="nativePlace" jdbcType="VARCHAR"/>
        <result column="politicId" property="politicId" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="departmentId" property="departmentId" jdbcType="INTEGER"/>
        <result column="posId" property="posId" jdbcType="INTEGER"/>
        <result column="engageForm" property="engageForm" jdbcType="VARCHAR"/>
        <result column="tiptopDegree" property="tiptopDegree" jdbcType="CHAR"/>
        <result column="specialty" property="specialty" jdbcType="VARCHAR"/>
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="beginDate" property="beginDate" jdbcType="DATE"/>
        <result column="workState" property="workState" jdbcType="CHAR"/>
        <result column="workID" property="workID" jdbcType="CHAR"/>
        <result column="contractTerm" property="contractTerm" jdbcType="DOUBLE"/>
        <result column="conversionTime" property="conversionTime" jdbcType="DATE"/>
        <result column="notWorkDate" property="notWorkDate" jdbcType="DATE"/>
        <result column="beginContract" property="beginContract" jdbcType="DATE"/>
        <result column="endContract" property="endContract" jdbcType="DATE"/>
        <result column="workAge" property="workAge" jdbcType="DOUBLE"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="idCardStartDate" property="idCardStartDate" jdbcType="DATE"/>
        <result column="idCardEndDate" property="idCardEndDate" jdbcType="DATE"/>
        <result column="hukouType" property="hukouType" jdbcType="VARCHAR"/>
        <result column="hukouLocation" property="hukouLocation" jdbcType="VARCHAR"/>
        <result column="emergencyContact" property="emergencyContact" jdbcType="VARCHAR"/>
        <result column="emergencyContactPhone" property="emergencyContactPhone" jdbcType="VARCHAR"/>
        <result column="fertilityStatus" property="fertilityStatus" jdbcType="VARCHAR"/>
        <result column="childrenInfo" property="childrenInfo" jdbcType="VARCHAR"/>
        <result column="graduationDate" property="graduationDate" jdbcType="DATE"/>
        <result column="certificate" property="certificate" jdbcType="VARCHAR"/>
        <result column="trainingHistory" property="trainingHistory" jdbcType="VARCHAR"/>
        <result column="previousCompany" property="previousCompany" jdbcType="VARCHAR"/>
        <result column="previousPosition" property="previousPosition" jdbcType="VARCHAR"/>
        <result column="previousStartEnd" property="previousStartEnd" jdbcType="VARCHAR"/>
        <result column="pastPerformance" property="pastPerformance" jdbcType="VARCHAR"/>
        <result column="previousResignationReason" property="previousResignationReason" jdbcType="VARCHAR"/>
        <result column="reference" property="reference" jdbcType="VARCHAR"/>
        <result column="referencePhone" property="referencePhone" jdbcType="VARCHAR"/>
        <result column="assessmentResult" property="assessmentResult" jdbcType="VARCHAR"/>
        <result column="probation" property="probation" jdbcType="INTEGER"/>
        <result column="conversionScore" property="conversionScore" jdbcType="INTEGER"/>
        <result column="workLocation" property="workLocation" jdbcType="VARCHAR"/>
        <result column="rewardsPunishments" property="rewardsPunishments" jdbcType="VARCHAR"/>
        <result column="resignationReason" property="resignationReason" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="AllEmployeeInfo" type="org.javaboy.vhr.model.Employee" extends="BaseResultMap">
        <association property="nation" javaType="org.javaboy.vhr.model.Nation">
            <id column="nid" property="id"/>
            <result column="nname" property="name"/>
        </association>
        <association property="politicsstatus" javaType="org.javaboy.vhr.model.Politicsstatus">
            <id column="pid" property="id"/>
            <result column="pname" property="name"/>
        </association>
        <association property="department" javaType="org.javaboy.vhr.model.Department">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
        </association>
        <association property="position" javaType="org.javaboy.vhr.model.Position">
            <id column="posid" property="id"/>
            <result column="posname" property="name"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, gender, birthday, idCard, wedlock, nationId, nativePlace, politicId, email, 
    phone, address, departmentId, posId, engageForm, tiptopDegree, specialty, 
    school, beginDate, workState, workID, contractTerm, conversionTime, notWorkDate, 
    beginContract, endContract, workAge, age, idCardStartDate, idCardEndDate, hukouType, 
    hukouLocation, emergencyContact, emergencyContactPhone, fertilityStatus, childrenInfo, 
    graduationDate, certificate, trainingHistory, previousCompany, previousPosition, 
    previousStartEnd, pastPerformance, previousResignationReason, reference, referencePhone, 
    assessmentResult, probation, conversionScore, workLocation, rewardsPunishments, resignationReason
  </sql>
    <resultMap id="EmployeeWithSalary" type="org.javaboy.vhr.model.Employee" extends="BaseResultMap">
        <association property="salary" javaType="org.javaboy.vhr.model.Salary">
            <id column="sid" property="id" jdbcType="INTEGER"/>
            <result column="sbasicSalary" property="basicSalary" jdbcType="INTEGER"/>
            <result column="sbonus" property="bonus" jdbcType="INTEGER"/>
            <result column="slunchSalary" property="lunchSalary" jdbcType="INTEGER"/>
            <result column="strafficSalary" property="trafficSalary" jdbcType="INTEGER"/>
            <result column="sallSalary" property="allSalary" jdbcType="INTEGER"/>
            <result column="spensionBase" property="pensionBase" jdbcType="INTEGER"/>
            <result column="spensionPer" property="pensionPer" jdbcType="REAL"/>
            <result column="screateDate" property="createDate" jdbcType="TIMESTAMP"/>
            <result column="smedicalBase" property="medicalBase" jdbcType="INTEGER"/>
            <result column="smedicalPer" property="medicalPer" jdbcType="REAL"/>
            <result column="saccumulationFundBase" property="accumulationFundBase" jdbcType="INTEGER"/>
            <result column="saccumulationFundPer" property="accumulationFundPer" jdbcType="REAL"/>
            <result column="sname" property="name" jdbcType="VARCHAR"/>
        </association>
        <association property="department" javaType="org.javaboy.vhr.model.Department">
            <result column="dname" property="name"/>
        </association>
    </resultMap>
    <select id="getEmployeeByPageWithSalary" resultMap="EmployeeWithSalary">
        SELECT e.*,d.`name` AS dname,s.`id` AS sid,s.`accumulationFundBase` AS
        saccumulationFundBase,s.`accumulationFundPer` AS saccumulationFundPer,s.`allSalary` AS
        sallSalary,s.`basicSalary` AS sbasicSalary,s.`bonus` AS sbonus,s.`createDate` AS screateDate,s.`lunchSalary` AS
        slunchSalary,s.`medicalBase` AS smedicalBase,s.`medicalPer` AS smedicalPer,s.`name` AS sname,s.`pensionBase` AS
        spensionBase,s.`pensionPer` AS spensionPer,s.`trafficSalary` AS strafficSalary FROM employee e LEFT JOIN
        empsalary es ON e.`idCard`=es.`eid` LEFT JOIN salary s ON es.`sid`=s.`id` LEFT JOIN department d ON
        e.`departmentId`=d.`id`
        order by e.idCard
        <if test="page !=null and size !=null">
            limit #{page},#{size}
        </if>
    </select>
    <insert id="updateEmployeeSalaryById">
        REPLACE INTO empsalary (eid,sid) VALUES(#{eid},#{sid})
    </insert>
    <update id="updateWorkAge">
        UPDATE employee SET workAge = ROUND(DATEDIFF(CURDATE(), beginDate) / 365.0, 1) WHERE beginDate IS NOT NULL
    </update>
    <select id="selectByEid" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from employee where id = #{id}
    </select>
    <select id="getEmployeeById" resultMap="AllEmployeeInfo">
        select e.*,p.`id` as pid,p.`name` as pname,n.`id` as nid,n.`name` as nname,d.`id` as did,d.`name` as
        dname,pos.`id` as posid,pos.`name` as posname from employee e,nation
        n,politicsstatus p,department d,position pos where e.`nationId`=n.`id` and e.`politicId`=p.`id` and
        e.`departmentId`=d.`id` and e.`posId`=pos.`id` and e.`idCard`=#{id}
    </select>
    <select id="getEmployeeByPage" resultMap="AllEmployeeInfo">
        select e.*,p.`id` as pid,p.`name` as pname,n.`id` as nid,n.`name` as nname,d.`id` as did,d.`name` as
        dname,pos.`id` as posid,pos.`name` as posname from employee e,nation
        n,politicsstatus p,department d,position pos where e.`nationId`=n.`id` and e.`politicId`=p.`id` and
        e.`departmentId`=d.`id` and e.`posId`=pos.`id`
        <if test="emp.name !=null and emp.name!=''">
            and e.name like concat('%',#{emp.name},'%')
        </if>
        <if test="emp.gender !=null and emp.gender!=''">
            and e.gender =#{emp.gender}
        </if>
        <if test="emp.politicId !=null">
            and e.politicId =#{emp.politicId}
        </if>
        <if test="emp.departmentId !=null">
            and e.departmentId =#{emp.departmentId}
        </if>
        <if test="emp.wedlock !=null and emp.wedlock!=''">
            and e.wedlock =#{emp.wedlock}
        </if>
        <if test="emp.tiptopDegree !=null and emp.tiptopDegree!=''">
            and e.tiptopDegree =#{emp.tiptopDegree}
        </if>
        <if test="emp.workLocation !=null and emp.workLocation!=''">
            and e.workLocation like concat('%',#{emp.workLocation},'%')
        </if>
        <if test="emp.workState !=null and emp.workState!=''">
            and e.workState like concat('%',#{emp.workState},'%')
        </if>
        <if test="emp.resignationReason !=null and emp.resignationReason!=''">
            and e.resignationReason like concat('%',#{emp.resignationReason},'%')
        </if>
        <if test="emp.workAge !=null">
            and e.workAge = #{emp.workAge}
        </if>
        <if test="beginDateScope !=null">
            and e.beginDate between #{beginDateScope[0]} and #{beginDateScope[1]}
        </if>
        <if test="ageScope !=null">
            and e.birthday between date_sub(now(), interval #{ageScope[1]} year) and date_sub(now(), interval #{ageScope[0]} year)
        </if>
        <if test="conversionTimeScope !=null">
            and e.conversionTime between #{conversionTimeScope[0]} and #{conversionTimeScope[1]}
        </if>
        <if test="notWorkDateScope !=null">
            and e.notWorkDate between #{notWorkDateScope[0]} and #{notWorkDateScope[1]}
        </if>
        <if test="page !=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from employee e
        <where>
            <if test="emp!=null">
                <if test="emp.name !=null and emp.name!=''">
                    and e.name like concat('%',#{emp.name},'%')
                </if>
                <if test="emp.gender !=null and emp.gender!=''">
                    and e.gender =#{emp.gender}
                </if>
                <if test="emp.politicId !=null">
                    and e.politicId =#{emp.politicId}
                </if>
                <if test="emp.departmentId !=null">
                    and e.departmentId =#{emp.departmentId}
                </if>
                <if test="emp.wedlock !=null and emp.wedlock!=''">
                    and e.wedlock =#{emp.wedlock}
                </if>
                <if test="emp.tiptopDegree !=null and emp.tiptopDegree!=''">
                    and e.tiptopDegree =#{emp.tiptopDegree}
                </if>
                <if test="emp.workLocation !=null and emp.workLocation!=''">
                    and e.workLocation like concat('%',#{emp.workLocation},'%')
                </if>
                <if test="emp.workState !=null and emp.workState!=''">
                    and e.workState like concat('%',#{emp.workState},'%')
                </if>
                <if test="emp.resignationReason !=null and emp.resignationReason!=''">
                    and e.resignationReason like concat('%',#{emp.resignationReason},'%')
                </if>
                <if test="emp.workAge !=null">
                    and e.workAge = #{emp.workAge}
                </if>
            </if>
            <if test="beginDateScope !=null">
                and e.beginDate between #{beginDateScope[0]} and #{beginDateScope[1]}
            </if>
            <if test="ageScope !=null">
                and e.birthday between date_sub(now(), interval #{ageScope[1]} year) and date_sub(now(), interval #{ageScope[0]} year)
            </if>
            <if test="conversionTimeScope !=null">
                and e.conversionTime between #{conversionTimeScope[0]} and #{conversionTimeScope[1]}
            </if>
            <if test="notWorkDateScope !=null">
                and e.notWorkDate between #{notWorkDateScope[0]} and #{notWorkDateScope[1]}
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from employee
        where idCard = #{idCard,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from employee
    where idCard = #{idCard,jdbcType=CHAR}
  </delete>
    <delete id="deleteEmps">
        delete from employee where idCard in
        <foreach collection="ids" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="addEmps">
        insert into employee (name, gender,
        birthday, idCard, wedlock, nationId,
        nativePlace, politicId, email,
        phone, address, departmentId,
        posId, engageForm, tiptopDegree, specialty, school,
        beginDate, workState, workID, contractTerm, conversionTime, notWorkDate,
        beginContract, endContract, workAge, age, idCardStartDate, idCardEndDate, hukouType, 
        hukouLocation, emergencyContact, emergencyContactPhone, fertilityStatus, childrenInfo, 
        graduationDate, certificate, trainingHistory, previousCompany, previousPosition, 
        previousStartEnd, pastPerformance, previousResignationReason, reference, referencePhone, 
        assessmentResult, probation, conversionScore, workLocation, rewardsPunishments, resignationReason
        )
        values
        <foreach collection="list" separator="," item="emp">
            (#{emp.name,jdbcType=VARCHAR}, #{emp.gender,jdbcType=CHAR},
            #{emp.birthday,jdbcType=DATE}, #{emp.idCard,jdbcType=CHAR}, #{emp.wedlock,jdbcType=CHAR},
            #{emp.nationId,jdbcType=INTEGER},
            #{emp.nativePlace,jdbcType=VARCHAR}, #{emp.politicId,jdbcType=INTEGER}, #{emp.email,jdbcType=VARCHAR},
            #{emp.phone,jdbcType=VARCHAR}, #{emp.address,jdbcType=VARCHAR}, #{emp.departmentId,jdbcType=INTEGER},
            #{emp.posId,jdbcType=INTEGER}, #{emp.tiptopDegree,jdbcType=CHAR}, #{emp.specialty,jdbcType=VARCHAR}, #{emp.school,jdbcType=VARCHAR},
            #{emp.beginDate,jdbcType=DATE}, #{emp.workState,jdbcType=CHAR}, #{emp.workID,jdbcType=CHAR},
            #{emp.contractTerm,jdbcType=DOUBLE}, #{emp.conversionTime,jdbcType=DATE}, #{emp.notWorkDate,jdbcType=DATE},
            #{emp.beginContract,jdbcType=DATE}, #{emp.endContract,jdbcType=DATE}, #{emp.workAge,jdbcType=DOUBLE}, #{emp.age,jdbcType=INTEGER}, #{emp.idCardStartDate,jdbcType=DATE}, #{emp.idCardEndDate,jdbcType=DATE}, 
            #{emp.hukouType,jdbcType=VARCHAR}, #{emp.hukouLocation,jdbcType=VARCHAR}, #{emp.emergencyContact,jdbcType=VARCHAR}, 
            #{emp.emergencyContactPhone,jdbcType=VARCHAR}, #{emp.fertilityStatus,jdbcType=VARCHAR}, #{emp.childrenInfo,jdbcType=VARCHAR}, 
            #{emp.graduationDate,jdbcType=DATE}, #{emp.certificate,jdbcType=VARCHAR}, #{emp.trainingHistory,jdbcType=VARCHAR}, 
            #{emp.previousCompany,jdbcType=VARCHAR}, #{emp.previousPosition,jdbcType=VARCHAR}, #{emp.previousStartEnd,jdbcType=VARCHAR}, 
            #{emp.pastPerformance,jdbcType=VARCHAR}, #{emp.previousResignationReason,jdbcType=VARCHAR}, #{emp.reference,jdbcType=VARCHAR}, 
            #{emp.referencePhone,jdbcType=VARCHAR}, #{emp.assessmentResult,jdbcType=VARCHAR}, #{emp.probation,jdbcType=INTEGER}, 
            #{emp.conversionScore,jdbcType=INTEGER}, #{emp.workLocation,jdbcType=VARCHAR}, #{emp.rewardsPunishments,jdbcType=VARCHAR}, 
            #{emp.resignationReason,jdbcType=VARCHAR}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        name = VALUES(name), gender = VALUES(gender), birthday = VALUES(birthday), wedlock = VALUES(wedlock),
        nationId = VALUES(nationId), nativePlace = VALUES(nativePlace), politicId = VALUES(politicId),
        email = VALUES(email), phone = VALUES(phone), address = VALUES(address), departmentId = VALUES(departmentId),
        posId = VALUES(posId), tiptopDegree = VALUES(tiptopDegree), specialty = VALUES(specialty), school = VALUES(school),
        beginDate = VALUES(beginDate), workState = VALUES(workState),
        workID = VALUES(workID), contractTerm = VALUES(contractTerm),
        conversionTime = VALUES(conversionTime), notWorkDate = VALUES(notWorkDate),
        beginContract = VALUES(beginContract), endContract = VALUES(endContract),
        workAge = VALUES(workAge), age = VALUES(age), idCardStartDate = VALUES(idCardStartDate), idCardEndDate = VALUES(idCardEndDate),
        hukouType = VALUES(hukouType), hukouLocation = VALUES(hukouLocation), emergencyContact = VALUES(emergencyContact),
        emergencyContactPhone = VALUES(emergencyContactPhone), fertilityStatus = VALUES(fertilityStatus),
        childrenInfo = VALUES(childrenInfo), graduationDate = VALUES(graduationDate), certificate = VALUES(certificate),
        trainingHistory = VALUES(trainingHistory), previousCompany = VALUES(previousCompany), previousPosition = VALUES(previousPosition),
        previousStartEnd = VALUES(previousStartEnd), pastPerformance = VALUES(pastPerformance), previousResignationReason = VALUES(previousResignationReason),
        reference = VALUES(reference), referencePhone = VALUES(referencePhone), assessmentResult = VALUES(assessmentResult),
        probation = VALUES(probation), conversionScore = VALUES(conversionScore), workLocation = VALUES(workLocation),
        rewardsPunishments = VALUES(rewardsPunishments), resignationReason = VALUES(resignationReason)
    </insert>
    <insert id="insert" parameterType="org.javaboy.vhr.model.Employee">
    insert into employee (name, gender, 
      birthday, idCard, wedlock, nationId, 
      nativePlace, politicId, email, 
      phone, address, departmentId, 
      posId, engageForm, tiptopDegree, specialty, school, 
      beginDate, workState, workID, contractTerm, conversionTime, notWorkDate, 
      beginContract, endContract, workAge, age, idCardStartDate, idCardEndDate, hukouType, 
      hukouLocation, emergencyContact, emergencyContactPhone, fertilityStatus, childrenInfo, 
      graduationDate, certificate, trainingHistory, previousCompany, previousPosition, 
      previousStartEnd, pastPerformance, previousResignationReason, reference, referencePhone, 
      assessmentResult, probation, conversionScore, workLocation, rewardsPunishments, resignationReason
      )
    values (#{name,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{birthday,jdbcType=DATE}, #{idCard,jdbcType=CHAR}, #{wedlock,jdbcType=CHAR}, #{nationId,jdbcType=INTEGER}, 
      #{nativePlace,jdbcType=VARCHAR}, #{politicId,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER}, 
      #{posId,jdbcType=INTEGER}, #{engageForm,jdbcType=VARCHAR}, #{tiptopDegree,jdbcType=CHAR}, #{specialty,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{beginDate,jdbcType=DATE}, #{workState,jdbcType=CHAR}, #{workID,jdbcType=CHAR}, 
      #{contractTerm,jdbcType=DOUBLE}, #{conversionTime,jdbcType=DATE}, #{notWorkDate,jdbcType=DATE}, 
      #{beginContract,jdbcType=DATE}, #{endContract,jdbcType=DATE}, #{workAge,jdbcType=DOUBLE}, #{age,jdbcType=INTEGER}, #{idCardStartDate,jdbcType=DATE}, #{idCardEndDate,jdbcType=DATE}, 
      #{hukouType,jdbcType=VARCHAR}, #{hukouLocation,jdbcType=VARCHAR}, #{emergencyContact,jdbcType=VARCHAR}, 
      #{emergencyContactPhone,jdbcType=VARCHAR}, #{fertilityStatus,jdbcType=VARCHAR}, #{childrenInfo,jdbcType=VARCHAR}, 
      #{graduationDate,jdbcType=DATE}, #{certificate,jdbcType=VARCHAR}, #{trainingHistory,jdbcType=VARCHAR}, 
      #{previousCompany,jdbcType=VARCHAR}, #{previousPosition,jdbcType=VARCHAR}, #{previousStartEnd,jdbcType=VARCHAR}, 
      #{pastPerformance,jdbcType=VARCHAR}, #{previousResignationReason,jdbcType=VARCHAR}, #{reference,jdbcType=VARCHAR}, 
      #{referencePhone,jdbcType=VARCHAR}, #{assessmentResult,jdbcType=VARCHAR}, #{probation,jdbcType=INTEGER}, 
      #{conversionScore,jdbcType=INTEGER}, #{workLocation,jdbcType=VARCHAR}, #{rewardsPunishments,jdbcType=VARCHAR}, 
      #{resignationReason,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="org.javaboy.vhr.model.Employee">
        insert into employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!-- id removed -->
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="idCard != null">
                idCard,
            </if>
            <if test="wedlock != null">
                wedlock,
            </if>
            <if test="nationId != null">
                nationId,
            </if>
            <if test="nativePlace != null">
                nativePlace,
            </if>
            <if test="politicId != null">
                politicId,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="departmentId != null">
                departmentId,
            </if>
            <if test="posId != null">
                posId,
            </if>
            <if test="engageForm != null">
                engageForm,
            </if>
            <if test="tiptopDegree != null">
                tiptopDegree,
            </if>
            <if test="specialty != null">
                specialty,
            </if>
            <if test="school != null">
                school,
            </if>
            <if test="beginDate != null">
                beginDate,
            </if>
            <if test="workState != null">
                workState,
            </if>
            <if test="workID != null">
                workID,
            </if>
            <if test="contractTerm != null">
                contractTerm,
            </if>
            <if test="conversionTime != null">
                conversionTime,
            </if>
            <if test="notWorkDate != null">
                notWorkDate,
            </if>
            <if test="beginContract != null">
                beginContract,
            </if>
            <if test="endContract != null">
                endContract,
            </if>
            <if test="workAge != null">
                workAge,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="idCardStartDate != null">
                idCardStartDate,
            </if>
            <if test="idCardEndDate != null">
                idCardEndDate,
            </if>
            <if test="hukouType != null">
                hukouType,
            </if>
            <if test="hukouLocation != null">
                hukouLocation,
            </if>
            <if test="emergencyContact != null">
                emergencyContact,
            </if>
            <if test="emergencyContactPhone != null">
                emergencyContactPhone,
            </if>
            <if test="fertilityStatus != null">
                fertilityStatus,
            </if>
            <if test="childrenInfo != null">
                childrenInfo,
            </if>
            <if test="graduationDate != null">
                graduationDate,
            </if>
            <if test="certificate != null">
                certificate,
            </if>
            <if test="trainingHistory != null">
                trainingHistory,
            </if>
            <if test="previousCompany != null">
                previousCompany,
            </if>
            <if test="previousPosition != null">
                previousPosition,
            </if>
            <if test="previousStartEnd != null">
                previousStartEnd,
            </if>
            <if test="pastPerformance != null">
                pastPerformance,
            </if>
            <if test="previousResignationReason != null">
                previousResignationReason,
            </if>
            <if test="reference != null">
                reference,
            </if>
            <if test="referencePhone != null">
                referencePhone,
            </if>
            <if test="assessmentResult != null">
                assessmentResult,
            </if>
            <if test="probation != null">
                probation,
            </if>
            <if test="conversionScore != null">
                conversionScore,
            </if>
            <if test="workLocation != null">
                workLocation,
            </if>
            <if test="rewardsPunishments != null">
                rewardsPunishments,
            </if>
            <if test="resignationReason != null">
                resignationReason,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=CHAR},
            </if>
            <if test="wedlock != null">
                #{wedlock,jdbcType=CHAR},
            </if>
            <if test="nationId != null">
                #{nationId,jdbcType=INTEGER},
            </if>
            <if test="nativePlace != null">
                #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="politicId != null">
                #{politicId,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="posId != null">
                #{posId,jdbcType=INTEGER},
            </if>
            <if test="tiptopDegree != null">
                #{tiptopDegree,jdbcType=CHAR},
            </if>
            <if test="specialty != null">
                #{specialty,jdbcType=VARCHAR},
            </if>
            <if test="school != null">
                #{school,jdbcType=VARCHAR},
            </if>
            <if test="beginDate != null">
                #{beginDate,jdbcType=DATE},
            </if>
            <if test="workState != null">
                #{workState,jdbcType=CHAR},
            </if>
            <if test="conversionTime != null">
                #{conversionTime,jdbcType=DATE},
            </if>
            <if test="notWorkDate != null">
                #{notWorkDate,jdbcType=DATE},
            </if>
            <if test="workAge != null">
                #{workAge,jdbcType=DOUBLE},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="idCardStartDate != null">
                #{idCardStartDate,jdbcType=DATE},
            </if>
            <if test="idCardEndDate != null">
                #{idCardEndDate,jdbcType=DATE},
            </if>
            <if test="hukouType != null">
                #{hukouType,jdbcType=VARCHAR},
            </if>
            <if test="hukouLocation != null">
                #{hukouLocation,jdbcType=VARCHAR},
            </if>
            <if test="emergencyContact != null">
                #{emergencyContact,jdbcType=VARCHAR},
            </if>
            <if test="emergencyContactPhone != null">
                #{emergencyContactPhone,jdbcType=VARCHAR},
            </if>
            <if test="fertilityStatus != null">
                #{fertilityStatus,jdbcType=VARCHAR},
            </if>
            <if test="childrenInfo != null">
                #{childrenInfo,jdbcType=VARCHAR},
            </if>
            <if test="graduationDate != null">
                #{graduationDate,jdbcType=DATE},
            </if>
            <if test="certificate != null">
                #{certificate,jdbcType=VARCHAR},
            </if>
            <if test="trainingHistory != null">
                #{trainingHistory,jdbcType=VARCHAR},
            </if>
            <if test="previousCompany != null">
                #{previousCompany,jdbcType=VARCHAR},
            </if>
            <if test="previousPosition != null">
                #{previousPosition,jdbcType=VARCHAR},
            </if>
            <if test="previousStartEnd != null">
                #{previousStartEnd,jdbcType=VARCHAR},
            </if>
            <if test="pastPerformance != null">
                #{pastPerformance,jdbcType=VARCHAR},
            </if>
            <if test="previousResignationReason != null">
                #{previousResignationReason,jdbcType=VARCHAR},
            </if>
            <if test="reference != null">
                #{reference,jdbcType=VARCHAR},
            </if>
            <if test="referencePhone != null">
                #{referencePhone,jdbcType=VARCHAR},
            </if>
            <if test="assessmentResult != null">
                #{assessmentResult,jdbcType=VARCHAR},
            </if>
            <if test="probation != null">
                #{probation,jdbcType=INTEGER},
            </if>
            <if test="conversionScore != null">
                #{conversionScore,jdbcType=INTEGER},
            </if>
            <if test="workLocation != null">
                #{workLocation,jdbcType=VARCHAR},
            </if>
            <if test="rewardsPunishments != null">
                #{rewardsPunishments,jdbcType=VARCHAR},
            </if>
            <if test="resignationReason != null">
                #{resignationReason,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.javaboy.vhr.model.Employee">
        update employee
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <!-- idCard removed from update because it's PK -->
            <if test="wedlock != null">
                wedlock = #{wedlock,jdbcType=CHAR},
            </if>
            <if test="nationId != null">
                nationId = #{nationId,jdbcType=INTEGER},
            </if>
            <if test="nativePlace != null">
                nativePlace = #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="politicId != null">
                politicId = #{politicId,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                departmentId = #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="posId != null">
                posId = #{posId,jdbcType=INTEGER},
            </if>
            <if test="engageForm != null">
                engageForm = #{engageForm,jdbcType=VARCHAR},
            </if>
            <if test="tiptopDegree != null">
                tiptopDegree = #{tiptopDegree,jdbcType=CHAR},
            </if>
            <if test="specialty != null">
                specialty = #{specialty,jdbcType=VARCHAR},
            </if>
            <if test="school != null">
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="beginDate != null">
                beginDate = #{beginDate,jdbcType=DATE},
            </if>
            <if test="workState != null">
                workState = #{workState,jdbcType=CHAR},
            </if>
            <if test="contractTerm != null">
                contractTerm = #{contractTerm,jdbcType=DOUBLE},
            </if>
            <if test="conversionTime != null">
                conversionTime = #{conversionTime,jdbcType=DATE},
            </if>
            <if test="notWorkDate != null">
                notWorkDate = #{notWorkDate,jdbcType=DATE},
            </if>
            <if test="beginContract != null">
                beginContract = #{beginContract,jdbcType=DATE},
            </if>
            <if test="endContract != null">
                endContract = #{endContract,jdbcType=DATE},
            </if>
            <if test="workAge != null">
                workAge = #{workAge,jdbcType=DOUBLE},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="idCardStartDate != null">
                idCardStartDate = #{idCardStartDate,jdbcType=DATE},
            </if>
            <if test="idCardEndDate != null">
                idCardEndDate = #{idCardEndDate,jdbcType=DATE},
            </if>
            <if test="hukouType != null">
                hukouType = #{hukouType,jdbcType=VARCHAR},
            </if>
            <if test="hukouLocation != null">
                hukouLocation = #{hukouLocation,jdbcType=VARCHAR},
            </if>
            <if test="emergencyContact != null">
                emergencyContact = #{emergencyContact,jdbcType=VARCHAR},
            </if>
            <if test="emergencyContactPhone != null">
                emergencyContactPhone = #{emergencyContactPhone,jdbcType=VARCHAR},
            </if>
            <if test="fertilityStatus != null">
                fertilityStatus = #{fertilityStatus,jdbcType=VARCHAR},
            </if>
            <if test="childrenInfo != null">
                childrenInfo = #{childrenInfo,jdbcType=VARCHAR},
            </if>
            <if test="graduationDate != null">
                graduationDate = #{graduationDate,jdbcType=DATE},
            </if>
            <if test="certificate != null">
                certificate = #{certificate,jdbcType=VARCHAR},
            </if>
            <if test="trainingHistory != null">
                trainingHistory = #{trainingHistory,jdbcType=VARCHAR},
            </if>
            <if test="previousCompany != null">
                previousCompany = #{previousCompany,jdbcType=VARCHAR},
            </if>
            <if test="previousPosition != null">
                previousPosition = #{previousPosition,jdbcType=VARCHAR},
            </if>
            <if test="previousStartEnd != null">
                previousStartEnd = #{previousStartEnd,jdbcType=VARCHAR},
            </if>
            <if test="pastPerformance != null">
                pastPerformance = #{pastPerformance,jdbcType=VARCHAR},
            </if>
            <if test="previousResignationReason != null">
                previousResignationReason = #{previousResignationReason,jdbcType=VARCHAR},
            </if>
            <if test="reference != null">
                reference = #{reference,jdbcType=VARCHAR},
            </if>
            <if test="referencePhone != null">
                referencePhone = #{referencePhone,jdbcType=VARCHAR},
            </if>
            <if test="assessmentResult != null">
                assessmentResult = #{assessmentResult,jdbcType=VARCHAR},
            </if>
            <if test="probation != null">
                probation = #{probation,jdbcType=INTEGER},
            </if>
            <if test="conversionScore != null">
                conversionScore = #{conversionScore,jdbcType=INTEGER},
            </if>
            <if test="workLocation != null">
                workLocation = #{workLocation,jdbcType=VARCHAR},
            </if>
            <if test="rewardsPunishments != null">
                rewardsPunishments = #{rewardsPunishments,jdbcType=VARCHAR},
            </if>
            <if test="resignationReason != null">
                resignationReason = #{resignationReason,jdbcType=VARCHAR},
            </if>
        </set>
        where idCard = #{idCard,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.javaboy.vhr.model.Employee">
    update employee
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=DATE},
      wedlock = #{wedlock,jdbcType=CHAR},
      nationId = #{nationId,jdbcType=INTEGER},
      nativePlace = #{nativePlace,jdbcType=VARCHAR},
      politicId = #{politicId,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      departmentId = #{departmentId,jdbcType=INTEGER},
      posId = #{posId,jdbcType=INTEGER},
      engageForm = #{engageForm,jdbcType=VARCHAR},
      tiptopDegree = #{tiptopDegree,jdbcType=CHAR},
      specialty = #{specialty,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      beginDate = #{beginDate,jdbcType=DATE},
      workState = #{workState,jdbcType=CHAR},
      workID = #{workID,jdbcType=CHAR},
      contractTerm = #{contractTerm,jdbcType=DOUBLE},
      conversionTime = #{conversionTime,jdbcType=DATE},
      notWorkDate = #{notWorkDate,jdbcType=DATE},
      beginContract = #{beginContract,jdbcType=DATE},
      endContract = #{endContract,jdbcType=DATE},
      workAge = #{workAge,jdbcType=DOUBLE},
      age = #{age,jdbcType=INTEGER},
      idCardStartDate = #{idCardStartDate,jdbcType=DATE},
      idCardEndDate = #{idCardEndDate,jdbcType=DATE},
      hukouType = #{hukouType,jdbcType=VARCHAR},
      hukouLocation = #{hukouLocation,jdbcType=VARCHAR},
      emergencyContact = #{emergencyContact,jdbcType=VARCHAR},
      emergencyContactPhone = #{emergencyContactPhone,jdbcType=VARCHAR},
      fertilityStatus = #{fertilityStatus,jdbcType=VARCHAR},
      childrenInfo = #{childrenInfo,jdbcType=VARCHAR},
      graduationDate = #{graduationDate,jdbcType=DATE},
      certificate = #{certificate,jdbcType=VARCHAR},
      trainingHistory = #{trainingHistory,jdbcType=VARCHAR},
      previousCompany = #{previousCompany,jdbcType=VARCHAR},
      previousPosition = #{previousPosition,jdbcType=VARCHAR},
      previousStartEnd = #{previousStartEnd,jdbcType=VARCHAR},
      pastPerformance = #{pastPerformance,jdbcType=VARCHAR},
      previousResignationReason = #{previousResignationReason,jdbcType=VARCHAR},
      reference = #{reference,jdbcType=VARCHAR},
      referencePhone = #{referencePhone,jdbcType=VARCHAR},
      assessmentResult = #{assessmentResult,jdbcType=VARCHAR},
      probation = #{probation,jdbcType=INTEGER},
      conversionScore = #{conversionScore,jdbcType=INTEGER},
      workLocation = #{workLocation,jdbcType=VARCHAR},
      rewardsPunishments = #{rewardsPunishments,jdbcType=VARCHAR},
      resignationReason = #{resignationReason,jdbcType=VARCHAR}
    where idCard = #{idCard,jdbcType=CHAR}
  </update>
</mapper>
